<html>
    <head>
        <link rel="stylesheet" href="assets/styles.css" />
        <style type="text/css">
            {{ embed_text "styles.css" }}
        </style>
    </head>
    <body>
        <h1>Static template with assets</h1>
        <img src="data:image/svg+xml;base64,{{ embed_base64 "image.svg" }}" />
    </body>
</html>
