<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/styles.css">
</head>
<body>
	<h1>Level 2</h1>

	<p class="is-red">It should have red font color from css stored in assets <p>

	<h2>It should be partial Level 1</h2>
	{{> level-1 }}

	<h2>It should be partial Level 2</h2>
	{{> sub-level-1/level-2 }}
</body>
</html>
