<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Level 1</h1>

	<p><em>Value:</em> {{value}}</p>
</body>
</html>
